@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
html{
    min-height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
}
nav {
   display: grid;
   grid-template-columns: 1fr;
   text-align: center;
   background-color: #581358;
   color: #c885d8;
   -webkit-box-shadow: 3px 11px 18px -2px rgba(0,0,0,0.69);
   -moz-box-shadow: 3px 11px 18px -2px rgba(0,0,0,0.69);
   box-shadow: 3px 11px 18px -2px rgba(0,0,0,0.69);
}
nav  p{
  font-size: 27px
}
h1 {
    font-weight: 400;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#3a1650;

}

.contenido {
    background-color: transparent;
    max-width: 1100px;
    margin:  0 auto;
    height: 100%;
    padding-top: 50px;
    padding-left: 6.8%;
    padding-right: 6.8%;


}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr;
    -webkit-box-shadow: -4px -1px 36px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: -4px -1px 36px 0px rgba(0,0,0,0.75);
   box-shadow: -4px -1px 36px 0px rgba(0,0,0,0.75);
   border-radius: 8px 8px 8px 8px;

  }
 .form{
    padding: 20px
 }
 .form input {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
    height: 35px;
    padding: 8px;
    background-color: #ece2ef;

 }
 .input input[type='submit']{
      width:100%;
      background-color: #3f0a61;
      color: #b17ae8;
      font-size: 15px;
      font-family: sans-serif;
}
.input input[type='submit']:hover{

    background-color:#643f7b ;
}
.letra-resultado{
  white-space: pre-wrap;
  text-align: center;
  padding: 5%;


}
.error {
   background-color: #ffeca8;
   color: #796f4c;
   width: 100%;
   padding: 4%;
}
